body {
  background-color: aquamarine;
}


#ducks {
  display: flex;
  flex-wrap: wrap;
}

.ducks {
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
  float: left;
  width: 400px;
  padding: 24px 26px;
  text-align: center;
  border: 2px solid rebeccapurple;
  border-radius: 20px;
  margin: 10px;
}


.ducks img {
  width: 200px;
}
